*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
.gdbinit
aux.kern
aux.bootkern
*.info.md
.vscode/settings.json
future_ideas.txt
*.swp
user/whoami
user/cat
user/devman
user/echo
user/forktest
user/fatregress
user/fsregress
user/grep
user/init
user/netcat
user/6get
user/abrowse
user/telnet
user/runlevel
user/telinit
user/.stage/
user/id
user/kill
user/killall
user/login
user/getty
user/chvt
user/ln
user/cp
user/ls
user/man
user/lsblk
user/free
user/df
user/ps
user/top
user/lspci
user/mkdir
user/mount
user/mounts
user/mounttest
user/mktmpfs
user/losetup
user/isotest
user/looptest
user/ahcitest
targetfs/tmp/test.iso
user/mv
user/umount
user/uname
user/pwd
user/rm
user/reset
user/clear
user/sh
user/sockettest
user/su
user/tcptest
user/udptest
user/ping
user/traceroute
user/nslookup
user/netinfo
user/ifconfig
user/netstat
user/route
user/arp
user/rarp
user/ip
user/tuntapctl
user/tuntest
user/dhcp
user/v6dhcpd
user/ntpd
user/v6init
user/passwd
user/chmod
user/chown
user/chgrp
user/sigtest
user/stressfs
user/usertests
user/schedperf
user/fsperf
user/gfxperf
user/kallocstress
user/wc
user/zombie
user/symlinktest
user/ftwtest
user/nftwtest
user/ftstest
user/termdemo
user/termcheck
user/testdaemon
user/stackgrowtest
user/dmesg
user/tail
user/lsof
user/which
user/file
user/audioctl
user/audiostat
user/audiotest
user/audiotone
user/audiopollstress
user/bcachestress
user/audiod
user/audiodctl
user/lockprobe
user/server7
user/date
user/time
user/halt
include/rootfs_config.h
.ext2root/
.ext2root-server7/
.auxv6root/
.fatroot/
.fat32root/
virtio_boot.log
ports/dash-0.5.12/src/mksyntax
ports/dash-0.5.12/src/mksignames
ports/dash-0.5.12/src/mknodes
ports/dash-0.5.12/src/mkinit
.vscode/
user/vblktest
user/netcat
aux.bootkern
.extra_cflags.stamp
user/fdtest
