*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
.gdbinit
aux.kern
*.info.md
.vscode/settings.json
future_ideas.txt
*.swp
user/whoami
user/cat
user/echo
user/forktest
user/fatregress
user/fsregress
user/grep
user/init
user/netcat
user/telnet
user/runlevel
user/telinit
user/.stage/
user/id
user/kill
user/killall
user/login
user/getty
user/chvt
user/ln
user/ls
user/lsblk
user/free
user/df
user/ps
user/lspci
user/mkdir
user/mount
user/mounts
user/mounttest
user/losetup
user/isotest
user/mv
user/umount
user/uname
user/pwd
user/rm
user/reset
user/clear
user/sh
user/sockettest
user/su
user/tcptest
user/ping
user/nslookup
user/netinfo
user/ifconfig
user/netstat
user/route
user/arp
user/rarp
user/ip
user/dhcp
user/v6dhcpd
user/passwd
user/chmod
user/chown
user/chgrp
user/sigtest
user/stressfs
user/usertests
user/wc
user/zombie
user/termdemo
user/termcheck
user/dmesg
user/tail
user/date
user/time
include/rootfs_config.h
.ext2root/
.fatroot/
virtio_boot.log
ports/dash-0.5.12/src/mksyntax
ports/dash-0.5.12/src/mksignames
ports/dash-0.5.12/src/mknodes
ports/dash-0.5.12/src/mkinit
