*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
.gdbinit
aux.kern
*.info.md
.vscode/settings.json
future_ideas.txt
*.swp
user/whoami
user/cat
user/echo
user/forktest
user/fatregress
user/fsregress
user/grep
user/init
user/id
user/kill
user/login
user/ln
user/ls
user/lsblk
user/lspci
user/mkdir
user/mount
user/mounts
user/mounttest
user/mv
user/umount
user/uname
user/pwd
user/rm
user/sh
user/sockettest
user/su
user/tcptest
user/ping
user/nslookup
user/netinfo
user/ifconfig
user/netstat
user/route
user/arp
user/rarp
user/ip
user/dhcp
user/v6dhcpd
user/passwd
user/chmod
user/chown
user/chgrp
user/sigtest
user/stressfs
user/usertests
user/wc
user/zombie
include/rootfs_config.h
.ext2root/
.fatroot/
virtio_boot.log
